body{
    background-color: #F9FEFF;

    .text-orange{
        color: #FD9704;
    }

    
    h1{
        font-size: 65px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }
    h2{
        font-size: 35px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #137ECB;
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #808080;
    }

    h6{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }

    .btn-primary{
        background-color: #FD9704;
        border: none;
        border-radius: 30px;
        padding: 8px 30px;

        &:hover{
        background-color: #ffa932;
        border: none;
        border-radius: 30px;
        padding: 8px 30px;
        transition: 0.5s;
        }
    }

    .btn-secondary{
        background-color: transparent;
        border-color: #137ECB;
        border-radius: 40px;
        padding: 8px 30px;
        color: #137ECB;
        transition: 0.5s;

        &:hover{
            border-color: #137ECB;
            background-color: #0d6caf;
            color: #ffffff;
            opacity: 50px;
            transition: 0.5s;
        }
    }
}

//navbar
.bg-nav{
    background-color: #137ECB;
    .navbar{
        background-color: #137ECB;
    }
}

//flat nav
.navbar-flat{
    background-color: #137ECB;

    .navbar{
        background-color: #137ECB;
    }
    
    span.text-muted{
        color: #ffffff !important;
        font-family: 'Poppins', sans-serif;
    }
}

.breadcrumb{
    padding-top: 40px;
    background-color: transparent;
    padding-bottom: 40px;

    .breadcrumb-item{
        color: #137ECB;

        &.active{
            font-weight: 600;
        }
    }
}


.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #ffffff;
    
    &:hover{
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        color: #e4e4e4;
        }
    
        &.active{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #ffffff;
        }
    }

//header
.header{
    background-color: #137ECB;

    .header-content{
        padding: 60px 0 400px;
        p{
            color: #ffffff;
        }
    }
}

.image-header{
    margin-top: -350px;
    padding-bottom: 50px;
}

//sponsor
.sponsorship{
    padding-bottom: 100px;
}

//why join
.why-join{
    padding-top: 70px;
    padding-bottom: 135px;

        .content-why-join{
            padding-left: 25px;
            padding-bottom: 25px;
            p{
                font-size: 15px;
            }

            h6{
                margin-bottom: 5px !important;
            }
        }

    .image-decor1{
        margin-top: -630px;
    }
}

//competition
.tittle-competition{
    padding-top: 135px;
    padding-bottom: 70px;
    

    .category-competition{
        margin-right: auto;
        margin-left: auto;
    }

    .competition{
        justify-content: center;
        margin: 20px;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 20px;
        padding-bottom: 50px;
        padding-top: 30px;
        box-shadow: 5px 5px 30px -23px;
        

        h6{
            font-weight: 700;
            padding-top: 22px;
            padding-bottom: 6px;
            font-family: 'Poppins', sans-serif;
            color: #25282B;
            font-size: 20;

        }

        .description{
            font-family: 'Poppins', sans-serif;
            color: #808080;
            font-size: 20;
        }
    }

    #math{
        &:hover{
            background-color: #1A8FE2;
            transition: 0.4s;

            h6{
                color: #ffffff;
                transition: 0.4s;
            }

            .description{
                color: #ffffff;
                transition: 0.4s;
            }
        }
    }

    #science{
        &:hover{
            background-color: #E81DD3   ;
            transition: 0.4s;

            h6{
                color: #ffffff;
                transition: 0.4s;
            }

            .description{
                color: #ffffff;
                transition: 0.4s;
            }
        }
    }

    #history{
        &:hover{
            background-color: #E81D5A   ;
            transition: 0.4s;

            h6{
                color: #ffffff;
                transition: 0.4s;
            }

            .description{
                color: #ffffff;
                transition: 0.4s;
            }
        }
    }

    #english{
        &:hover{
            background-color: #51D613   ;
            transition: 0.4s;

            h6{
                color: #ffffff;
                transition: 0.4s;
            }

            .description{
                color: #ffffff;
                transition: 0.4s;
            }
        }
    }

    #story{
        &:hover{
            background-color: #E8AF1D   ;
            transition: 0.4s;

            h6{
                color: #ffffff;
                transition: 0.4s;
            }

            .description{
                color: #ffffff;
                transition: 0.4s;
            }
        }
    }

    .dot{
        margin-left: 750px;
        margin-top: -530px;
    }
}

//about-us
.about-us{
    margin-top: 70px;
    padding-bottom: 70px;

    p{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

//profile
section.profile{
    .profile-content{
        .profile-image{
            margin-left: -70px;
            padding-top: 70px;
        }
    
        .content{
            padding-left: 30px;
        }
    }
}

section.footer{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #137ECB   ;

    color: #ffffff;

    h3{
        margin-top: 30px;
    }

    p{
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
    }

    img{
        margin-right: 20px;
    }

    .footer-links{
        justify-content: flex-end;
        margin-top: 90px;
        p{
            margin-left: 40px;
            font-weight: 600;
        }
    }
}

//details science


.details-science{
    padding-top: 30px;
    padding-bottom: 30px;
}


//not allowed
.section-not-allowed{
    .not-allowed{
        padding-top: 20px;
    }
    h2{
       padding: 20px;
    }
    p{
        padding-bottom: 15px;
    }
}

//responsive
@media screen and (max-width: 600px){
    //header
    .image-header{
        display: none;
    }

    .header-content{
        padding-bottom: 150px !important;
        margin-bottom: 50px;
    }

    //why join
    .why-join{
        padding-top: 50px;
        padding-bottom: 45px;
    }

    .tittle-join{
        text-align: center;
    }
    .content{
        padding-top: 50px;
        align-items: center;
    }
    .image-decor1{
        display: none;
    }

    //competition
    .tittle-competition{
        padding-top: 45px;
        padding-bottom: 70px;
    }

    .dot{
        display: none;
    }

    //about us
    .about-img{
        display: none;
    }

    //your time
    .profile-image{
        display: none;
    }

    .image-details{
        display: none;
    }

    .breadcrumb{
        padding-top: 40px;
        background-color: transparent;
        padding-bottom: 50px;
    
        .breadcrumb-item{
            color: #137ECB;
    
            &.active{
                font-weight: 600;
            }
        }
    }
}